fastapi
uvicorn[standard]
uvloop
sqlalchemy
pydantic-settings
httpx
requests
beautifulsoup4
openai
openpyxl
psutil
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pandas
schedule
google-generativeai
psycopg2-binary
webdriver-manager
itsdangerous
python-multipart
aiohttp
